* {
    margin: 0 auto;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-family: Verdana, Arial, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #A8A8A8;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
}

h2 {
    font-size: 1.6rem;
    font-weight: normal;
    font-style: normal;
}

p {
    font-size: 1.2rem;
}

label {
    font-size: 1.2rem;
    vertical-align: top;
}

input {
    font-size: 1.2rem;
    margin: 0.2rem;
}

#wrapper {
    background-color: #FFFFFF;
    width: 960px;
    height: 100%;
}

#content {
    background-color: #FFFFFF;
    width: 920px;
    padding: 10px 10px 0px 10px;
    text-align: center;
}

#view {
    border: solid 1px #000000;
    margin-top: 20px;
}

#webcam {
    display: none;
}

#start_stop_button {
    display: inline-block;
    vertical-align: top;
    background-color: #C6C6C6;
    width: 10rem;
    height: 3rem;
    margin: 0.5rem;
    cursor: pointer;
}

#start_stop_button p {
    height: 3rem;
    line-height: 3rem;
    color: #000000;
}

#image_toggle {
    display: inline-block;
    vertical-align: top;
    width: 20rem;
    height: 3rem;
    margin: 0.5rem;
}

.toggle_label {
    display: inline-block;
    margin: 0.75rem 1rem 0 1rem;
}

.filter_button {
    display: inline-block;
    background-color: #6A6A6A;
    width: 10rem;
    height: 3rem;
    margin: 0.5rem;
    cursor: pointer;
}

.filter_button[selected="true"] {
    background-color: #2A3A8A;
}

.filter_button p {
    height: 3rem;
    line-height: 3rem;
    color: #FFFFFF;
}

.spacer {
    height: 1rem;
}

.spacer2 {
    height: 2rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 2.5rem;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 2rem;
    width: 2rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(2.4rem);
    -ms-transform: translateX(2.4rem);
    transform: translateX(2.4rem);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 2rem;
}
  
.slider.round:before {
    border-radius: 50%;
}
